* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.logo__araund {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: azure;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(71, 71, 240);
}

.logo__letter {
  font-size: 26px;
  color: black;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: rgb(202, 192, 192);
  line-height: 30px;
  font-size: 22px;
  padding-left: 10px;
}

.dashboard {
  margin-right: 10px;
}

nav a:hover {
  color: blue;
}

.navbar-foot a {
  text-decoration: none;
  color: rgb(202, 192, 192);
  line-height: 30px;
  font-size: 22px;
  padding-bottom: 20px;
}

.navbar {
  position: fixed;
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 300px;
  margin: 20px;
}

.chack0 {
  background-color: aqua;
}

#chack {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: gray;
  border-radius: 10px;
  position: relative;
  transition: all 0.5s;
}

#chack:checked {
  background-color: blue;
}

#chack::before {
  content: ;
  width: 16px;
  height: 16px;
  background-color: azure;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.5s;
}

#chack:checked::before {
  left: 16px;
}

.main {
  margin-left: 320px;
  border-left: 2px solid rgb(202, 192, 192);
}

.main__header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
}

.main__header input {
  width: 400px;
  height: 40px;
}

.main__header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-foot {
  display: flex;
  flex-direction: column;
}

.navbar-foot a:hover {
  color: blue;
}

.boxs {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.box img {
  margin-left: 160px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 170px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.box1 {
  background-color: rgb(114, 114, 223);
}

.box2 {
  background-color: rgb(235, 164, 113);
}

.box3 {
  background-color: rgb(149, 114, 182);
}

table {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.activity1 {
  padding-left: 20px;
  display: flex;
}

td div,
.spam {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: rgb(86, 86, 181);
}

th {
  font-size: 25px;
}

td,
tr {
  font-size: 20px;
  padding-bottom: 30px;
}
